

//Card tops
$design-red : rgba(234, 83, 83,1);
$design-cyan: rgba(69, 211, 211,1);
$design-orange: rgba(252, 175, 74,1);
$design-blue: rgba(84, 158, 242,1);


//Other colors
$veryDarkBlue: rgba(76, 78, 97,1);
$grayishBlue: rgba(163, 165, 174,1);
$veryLightGrey: rgba(98%, 98%, 98%,1);

